<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
    <meta name='viewport' content='width=device-width' />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <title>Popup</title>
  </head>
  <body>
    <h1>Popup</h1>
  </body>
</html>
