<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
    <meta name='viewport' content='width=device-width' />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <title>Service worker</title>

    <link rel="stylesheet" href="/service-worker.css" />
  </head>
  <body>
    <h1>Service worker</h1>
    <section></section>
  </body>
  <script src="/service-worker.js" type="module"></script>
</html>
