<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href='data:;base64,iVBORw0KGgo=' />

    <title>WebSocket</title>
  </head>
  <body>
    <h1>WebSocket</h1>
    <button>Close the connection</button>

    <ul>
    </ul>
  </body>
  <script src='/websocket.js' type='module'></script>
</html>
