# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
/.coverage
/coverage
/.nyc_output
npm-debug.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db

# Cypress
cypress/hars
cypress/downloads