{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "parserOpts": {
          "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "writerOpts": {
          "commitsSort": ["subject", "scope"]
        }
      }
    ],
    "@semantic-release/npm",
    [
      "@semantic-release/github",
      {
        "labels": false,
        "releasedLabels": false
      }
    ]
  ],
  "branch": "master",
  "ci": true
}
