<html>
  <head>
    <title>Logging In - XHR Web Form - Dashboard</title>
    <link rel='stylesheet' href='styles.css' />
  </head>
  <body>
    <h1>Welcome to the Dashboard{{#if user}}, {{user}}{{/if}}!</h1>
  </body>
</html>
